body
  --main-border-radius: 1rem
  font-family: "Nunito", Arial sans-serif
  overflow-x: hidden
  position: relative
  scroll-behavior: smooth

#screen.activeMenu
  position: relative
  height: 100vh
  width: 100vw
  position: fixed
  top: 0
  background-color: rgba(102, 102, 102, 0.46)
  z-index: 99
  div#cloneMenu
    position: absolute
    bottom: 0
    right: 0
    width: 60%
    height: 100vh
    color: white
    background-color: #111111
    transform: translateX(100%)
    display: flex
    flex-direction: column
    justify-content: center
    a
      text-decoration: none
      color: white
      font-size: 2rem
      padding: 0 10%
#screen.nonActiveMenu
  display: none

.mainbutton
  height: 3rem
  min-width: 15rem
  border-radius: 1.5rem
  background-color: rgb(4, 4, 70)
  color: white
  font-size: 1.5rem
  font-weight: bold
  cursor: pointer
  transition: all 200ms linear
button.mainbutton:hover
    color: rgb(4, 4, 70)
    outline: solid 2px rgb(4, 4, 70)
    background-color: white

.gallery
  background-repeat: no-repeat
  background-size: cover
  background-position: center

nav
  display: flex
  justify-content: space-between
  height: 9rem
  #logo
    margin-left: 8%
    a
      height: 100%
      width: 100%
  #menu
    display: flex
    justify-content: space-between
    align-items: center
    width: 50%
    margin-right: 8%
    @media screen and (max-width: 992px)
      display: none
    a
      font-size: 1.3rem
      transition: transform 100ms linear
    a:hover
      transform: scale(1.5)
  img
    display: block
    width: auto
    height: 100%
  a
    display: block
    text-decoration: none

  #burg
    width: 3rem
    height: 3rem
    flex-flow: column
    justify-content: space-between
    align-self: center
    margin-right: 3rem
    position: fixed
    right: 0
    z-index: 999
    display: none
    @media screen and (max-width: 992px)
      display: flex
    @media screen and (max-width: 576px)
      transform: scale(0.8)
      margin-right: 1.5rem
  #burg:hover
    cursor: pointer
  #burg *
    height: 0.4rem
    border-radius: 0.2rem
    background-color: gray
    outline: solid 2px white
    transform-origin: center
  #burg.noneActive span:first-child
    transform: none
    animation: burgFirstChildBack 300ms linear
  #burg.noneActive span:nth-child(2)
    transform: none
    animation: burgMiddlChildBack 300ms linear
  #burg.noneActive span:last-child
    transform: none
    animation: burgLastChildBack 300ms linear
  #burg.active span:first-child
    transform: translateY(1.3rem) rotate(45deg) scaleX(1.3)
    animation: burgFirstChild 300ms linear
  #burg.active span:nth-child(2)
    transform: scale(0)
    animation: burgMiddlChild 300ms linear
  #burg.active span:last-child
    transform: translateY(-1.3rem) rotate(-45deg) scaleX(1.3)
    animation: burgLastChild 300ms linear

section#slogan
  display: flex
  justify-content: space-around
  @media screen and (max-width: 992px)
    flex-direction: column
  div
    display: flex
    flex-direction: column
    line-height: 2.5rem
    position: relative
    p
      @media screen and (max-width: 992px)
      padding: 2rem
    p#help
      font-size: 1.5rem
      padding-top: 2rem
    p#hope
      font-size: 1.8rem
      line-height: 3rem
      font-weight: bold
      @media screen and (max-width: 576px)
        font-size: 1.3rem
  div:first-child
    flex: 0 1 50%
  .shadow
    flex: 0 0.8 content
    border-radius: 10px
    border: solid thin rgba(34, 60, 80, 0.31)
    //box-shadow: 0px 0px 4px 2px rgb(51 51 51)
    -webkit-box-shadow: 0 0 5px 2px rgba(51, 51, 51, 0.14)
    -moz-box-shadow: 0 0 5px 2px rgba(51, 51, 51, 0.14)
    box-shadow: 0 0 5px 2px rgba(51, 51, 51, 0.14)
    align-self: flex-end
    @media screen and (max-width: 786px)
      flex: 1 1 content
    img
      width: 100%
      height: auto
      border-radius: 10px
  #corrector
    display: none
    float: right
    position: relative
    top: 0
    @media screen and (max-width: 992px)
      display: block
      transform: translate(0, 50%)
    @media screen and (max-width: 786px)
      display: none
  #mainphoto
    display: block
    @media screen and (max-width: 992px)
      display: none
    @media screen and (max-width: 786px)
      display: block
      align-self: center
      transform: translate(10%, -15%)
    @media screen and (max-width: 576px)
      transform: translate(0, 0)

section#problem
  margin: 10vh 0
  padding: 3rem
  position: relative
  display: flex
  flex-direction: column
  justify-content: start
  align-items: center
  color: white
  min-height: 80vh
  .skew
    position: absolute
    top: 0
    width: 100%
    height: 100%
    z-index: -1
    background-image: linear-gradient(to bottom, rgb(1, 1, 17), rgb(72, 82, 112))
    transform: skewY(-10deg)
  #arrow
    img
      animation: arrow 1500ms linear reverse infinite
  >p
    width: 50%
    font-size: 1.8rem
    font-weight: bold
    text-align: center
    @media screen and (max-width: 786px)
      width: 80%
    @media screen and (max-width: 576px)
      width: 90%
      font-size: 1.5rem
  #clip
    display: flex
    justify-content: space-around
    @media screen and (max-width: 992px)
      flex-direction: column
      align-items: center
    >div
      flex: 0 1 20%
      text-align: center
      font-size: 1.2rem
      position: relative
      @media screen and (max-width: 992px)
        width: 60%
        margin: 2rem
        padding: 1rem
      @media screen and (max-width: 786px)
        width: 80%
      @media screen and (max-width: 576px)
        width: 90%
      span
        display: block
        width: 55%
        aspect-ratio: 1 / 1
        background-color: #2c4422
        position: absolute
        z-index: -1
        top: 0
        right: 0
        transform: translate(-20%, -20%)
        border-radius: 1rem
        @media screen and (max-width: 992px)
          width: 100%
          height: 100%
          aspect-ratio: auto
          transform: translate(0, 0)

section#apply
  margin-top: 10rem
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  >p
    font-size: 1.5rem
    font-weight: bold
  #gallery
    display: grid
    grid-template-areas: "lotus lotus lilies sunflower" "sky building lilies leaves"
    aspect-ratio: 1.2 / 1
    max-height: 100vh
    color: white
    font-weight: bold
    margin: 0 0.5rem
    @media screen and (max-width: 992px)
      grid-template-areas: "lotus lotus" "sky building" "lilies lilies" "sunflower leaves"
      //aspect-ratio: 1 / 1
      min-height: 200vh
    @media screen and (max-width: 576px)
      grid-template-areas: "lotus" "sky" "building" "lilies" "sunflower" "leaves"
      aspect-ratio: 1 / 1
      min-height: 400vh
    >div
      margin: 0.5rem
      position: relative
      overflow: hidden
      div.gallery
        position: absolute
        top: 0
        width: 100%
        height: 100%
        transform-origin: center
        transition: transform 300ms linear
      div.myhover
          transform: scale(1.1)
      p
        position: absolute
        bottom: 0
        width: 100%
        padding: 1rem
        z-index: 1
    span
      display: block
      position: absolute
      bottom: 0
      width: 100%
      height: 100%
      background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.0), rgba(0,4,31,0.60))
      transition: height 300ms linear
    span.myhover
      height: 20%

    #lotus
      grid-area: lotus
      //background-color: #FF3366
      div.gallery
        background-image: url("../img/lotus.png")
    #sky
      grid-area: sky
      //background-color: yellow
      .gallery
        background-image: url("../img/sky.png")
    #building
      grid-area: building
      //background-color: pink
      .gallery
        background-image: url("../img/building.png")
    #lilies
      grid-area: lilies
      //background-color: yellowgreen
      .gallery
        background-image: url("../img/lilies.png")
    #sunflower
      grid-area: sunflower
      //background-color: orange
      .gallery
        background-image: url("../img/sunflower.png")
    #leaves
      grid-area: leaves
      //background-color: firebrick
      .gallery
        background-image: url("../img/leaves.jpg")

section#introduce
  margin: 3rem 1rem 5rem 1rem
  div:first-child
    display: flex
    justify-content: center
    @media screen and (max-width: 992px)
      flex-direction: column
      align-items: center
    div
      flex: 1 1 50%
    div:first-child
      @media screen and (max-width: 992px)
        width: 50%
      @media screen and (max-width: 576px)
        width: 80%
      img
        height: 100%
        width: auto
    div:last-child
      display: flex
      flex-direction: column
      @media screen and (max-width: 992px)
        width: 70%
      @media screen and (max-width: 576px)
        width: 80%
      h1
        font-size: 3rem
        margin: 0
        @media screen and (max-width: 992px)
          text-align: center
          margin: 1rem 0
        @media screen and (max-width: 786px)
          font-size: 2.5rem
        @media screen and (max-width: 576px)
          font-size: 2rem
      h3
        font-size: 1.5rem
        @media screen and (max-width: 576px)
          font-size: 1.3rem
      p
        font-size: 1.2rem
        @media screen and (max-width: 576px)
          font-size: 1rem
      button
        align-self: start
        transform: translate(0, 100%)
#popup.nonActivePopup
  display: none
#popup.activePopup
  display: flex
  z-index: 99999
  width: 70%
  margin: 3rem auto
  background-color: white
  flex-direction: column
  justify-content: center
  transform: translateY(100%)
  @media screen and (max-width: 786px)
    width: 80%
  h2, p
    padding: 0 1rem
  button
    margin: 2rem
    align-self: start
    font-size: smaller
    background-color: white
    border: solid 2px black
    height: 2rem
    border-radius: 2rem
#cross
  width: 3rem
  height: 3rem
  flex-flow: column
  justify-content: space-between
  align-self: center
  position: fixed
  right: 3rem
  top: 3rem
  z-index: 9999999
  display: none
  @media screen and (max-width: 786px)
    transform: translate(-50%, -50%) scale(0.8)
  *
    height: 0.4rem
    border-radius: 0.2rem
    background-color: #0f1a38
    outline: solid 2px white
    transform-origin: center
  span:first-child
    transform: translateY(1.3rem) rotate(45deg) scaleX(1.3)
  span:nth-child(2)
    transform: scale(0)
  span:last-child
    transform: translateY(-1.3rem) rotate(-45deg) scaleX(1.3)



#cross:hover
  cursor: pointer
  #cross *

  #cross.noneActive span:first-child
    transform: none
    animation: burgFirstChildBack 300ms linear
  #cross.noneActive span:nth-child(2)
    transform: none
    animation: burgMiddlChildBack 300ms linear
  #cross.noneActive span:last-child
    transform: none
    animation: burgLastChildBack 300ms linear




section#price
  position: relative
  display: flex
  flex-direction: column
  //justify-content: center
  align-items: center
  text-align: center
  padding-bottom: 7rem
  .skew
    position: absolute
    top: 0
    width: 100%
    height: 100%
    z-index: -1
    background-image: linear-gradient(5deg, rgb(72, 82, 112), rgb(1, 1, 17) 25%,rgb(1, 1, 17) 75%, rgb(72, 82, 112))
    transform: skewY(-10deg)
  h2
    color: white
    font-size: 3rem
    padding-top: 2rem
  >p
    color: white
    font-size: 1.5rem
    padding-bottom: 3rem
  .flexContainer
    display: flex
    justify-content: space-evenly
    @media screen and (max-width: 992px)
      display: grid
      grid-template-columns: 50% 50%
      grid-template-rows: 50% 50%
      padding: 0 1rem
    @media screen and (max-width: 576px)
      grid-template-columns: 80%
      grid-template-rows: 33% 33% 33%
  .mycard
    flex: 0 1 30%
    @media screen and (max-width: 992px)
      margin: 1rem
  a
    position: relative
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: start
    border-radius: 1rem
    background-color: white
    text-decoration: none
    color: initial
    div.gallery
      border-radius: var(--main-border-radius) var(--main-border-radius) 0 0
      aspect-ratio: 1 / 1
    div.wrapper
      flex: 1 1
      display: flex
      flex-direction: column
      justify-content: space-between
      border-radius: 0 0 var(--main-border-radius) var(--main-border-radius)
      text-align: initial
      padding: 0 1rem 1rem 1rem
      //background-color: pink
      h4
        margin: 0.5rem 0
      p
        font-size: small
        line-height: 1.2rem
    div.introduce
      //background-color: yellowgreen
    div.sail
      //background-color: hotpink
    div.coast
      font-size: larger
      font-weight: bold
      padding: 0.5rem 0
    button
      height: 2rem
      width: 7rem
      font-size: small
      border: solid thin #2c4422
      border-radius: 0.5rem
    div.buttons
      button:first-child
        background-color: #2c4422
        color: white
      button:last-child
        background-color: white
        color: #2c4422

  #standard
    background-image: url("../img/standart.png")
  #course
    background-image: url("../img/cours.jpg")
  #talk
    background-image: url("../img/talk.jpg")

section#feedback
  display: flex
  justify-content: center
  background-color: #666666
  padding: 10rem 0
  margin: 7rem 0
  div.wrapper
    min-width: 60%
    //min-height: 95vh
    background-color: #ffffff
    border-radius: 1rem
    padding: 1rem
    h4
      text-align: center
      font-size: 1.5rem
      margin: 0
  div.feedback
    display: flex
    justify-content: space-between
    @media screen and (max-width: 786px)
      flex-direction: column
  form
    flex: 1 1 60%
    display: flex
    flex-direction: column
    justify-content: space-between
    background-color: #f2f2f2
    border-radius: 1rem
    padding: 1rem
    >*
      margin: 0.7rem 0
    .group
      display: flex
      flex-direction: column
      input, textarea
        padding: 0.5rem
        border: solid 2px gray
        border-radius: 0.5rem
    button
      align-self: center
  #session
    display: flex
    flex-direction: column
    justify-content: center
    div.radioGroup
      display: flex
      justify-content: space-between
      display: flex
      justify-content: space-between
      input
        margin-right: 5px
  div.illustration
    position: relative
    flex: 1 1 40%
    aspect-ratio: 1 / 1
    img
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 100%
      height: auto
      transition: opacity 200ms linear
    img.show
      opacity: 1
    img.nonshow
      opacity: 0

section#after
  display: flex
  justify-content: center
  .wrapper
    flex: 0 1 60%
    display: flex
    flex-direction: column
    font-size: large
    text-align: center
    >*
      margin: 0.8rem 0
    span
      font-weight: bold
  .group
    position: relative
    justify-content: center
    display: flex
    .inscription
      background-color: black
      color: white
      padding: 0.5rem 1rem
      font-size: smaller
    .line
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 100%
      height: 1px
      background-color: black
      z-index: -1

section#gratitude
  margin: 7rem 0
  position: relative
  h2
    color: white
    font-size: 2.5rem
    font-weight: bold
    text-align: center
  .skew
    position: absolute
    top: 0
    width: 100%
    min-height: 100%
    z-index: -1
    background-image: linear-gradient(5deg, rgb(72, 82, 112), rgb(1, 1, 17) 25%,rgb(1, 1, 17) 75%, rgb(72, 82, 112))
    transform: skewY(-10deg)
  .shell
    padding: 7rem 0
    width: 60%
    margin: 0 auto
    @media screen and (max-width: 786px)
      width: 80%
    >*
      margin: 1rem 0
    button
      display: block
      margin: 0 auto

  .carousel-item
    img
      width: 100%
      height: auto
  .carousel-control-prev-icon
    transform: translateX(-250%)
    @media screen and (max-width: 992px)
      transform: translateX(-150%)
  .carousel-control-next-icon
    transform: translateX(250%)
    @media screen and (max-width: 992px)
      transform: translateX(150%)

section#format
  display: flex
  flex-direction: column
  justify-content: space-around
  //align-items: center
  text-align: center
  @media screen and (max-width: 576px)
    align-items: center
  h3
    font-size: 2.5rem
    font-weight: bold
  #schema1
    display: flex
    justify-content: space-between
    @media screen and (max-width: 576px)
      display: grid
      //grid-template-columns: 80%
      grid-template-rows: 33% 33% 33%
  .group
    flex: 1 1 30%
    display: flex
    flex-direction: column
    justify-content: space-around
    padding: 2rem
    @media screen and (max-width: 576px)
      //margin: auto 0
  .circle
    background-color: #2c4422
    border-radius: 50%
    width: 5rem
    height: 5rem
    color: white
    margin: 0 auto
    //aspect-ratio: 1 / 1
  .variant, .format
    font-size: 2rem
    line-height: 5rem
    font-weight: bold
  //.variant
    margin: auto 0
  button
    align-self: center

section#appointment
  position: relative
  height: 80vh
  margin: 2rem 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  color: white
  background: url("../img/appointment.png") center / cover fixed
  .filter
    position: absolute
    top: 0
    width: 100%
    height: 100%
    background-image: -webkit-linear-gradient(top, rgba(0,4,31,0.70), rgba(44,68,34,0.70))
  h2, p, form
    margin: 2rem 0
    z-index: 1
  h2
    font-size: 2.5rem
    font-weight: bold
  p
    font-size: 1.5rem
  form
    display: flex
    justify-content: center
    height: 3.5rem
    @media screen and (max-width: 992px)
      flex-direction: column
      height: auto
      min-width: 60%
      min-height: 30%
    @media screen and (max-width: 786px)
      min-width: 80%
    input, button
      margin: 0 0.5rem
      border-radius: 0.5rem
    input
      flex: 1 0 27%
    button
      flex: 0 1
      font-size: 1rem
      height: 3.5rem
      min-width: 8rem
      @media screen and (max-width: 992px)
        font-size: 2rem

section#blog
  display: flex
  justify-content: space-around
  min-height: 60vh
  div
    flex: 1 1 40%
    padding: 1rem
    display: flex
    flex-direction: column
    justify-content: center
    h2
      font-size: 2.5rem
      font-weight: bold
    p
      font-size: 1.2rem
    button
      align-self: start

footer
  display: flex
  flex-direction: column
  text-align: center
  background-color: #00041f
  color: white
  .contact
    display: flex
    justify-content: space-around
    @media screen and (max-width: 786px)
      flex-direction: column
    >div
      flex: 1 1 30%

/**********keyframes burg*/
@keyframes burgFirstChild
  0%
    transform: translateY(0) rotate(0) scaleX(1)
  50%
    transform: translateY(1.3rem)
@keyframes burgMiddlChild
  0%
    transform: scale(1)
  50%
    transform: scale(0)
@keyframes burgLastChild
  0%
    transform: translateY(0) rotate(0) scaleX(1)
  50%
    transform: translateY(-1.3rem)
/*burg back*/
@keyframes burgFirstChildBack
  0%
    transform: translateY(1.3rem) rotate(45deg) scaleX(1.3)
  50%
    transform: translateY(1.3rem) rotate(0deg) scale(1)
@keyframes burgMiddlChildBack
  0%
    transform: scale(0)
  50%
    transform: scale(1)
@keyframes burgLastChildBack
  0%
    transform: translateY(-1.3rem) rotate(-45deg) scaleX(1.3)
  50%
    transform: translateY(-1.3rem) rotate(0deg) scale(1)
/**********end keyframes burg*/

/*arrow*/
@keyframes arrow
  0%
    transform: translateY(-150%)
  50%
    transform: translateY(0%)
  100%
    transform: translateY(-150%)
/*arrow*/

/*editor*/
.note-editable
  background-color: white